<div class="main topics-show">
  <div class="container topics-show-container">
        <div class="topics-show-top">
            <div class="topics-show-top-title"> 
                <div>              
                    <%= @topic.topic_name %>
                </div>
            </div>
            <div class = "topics-show-top-information-list">
                <div class="topics-show-top-information-item topics-show-top-category_name">
                    <div>
                        <%= @category.category_name %>
                    </div>
                </div>
                <div class="topics-show-top-information-item topics-show-top-topic_owner">
                    <div>
                        <%= @topic.topic_owner %>
                    </div>
                </div>
                <div class="topics-show-top-information-item topics-show-top-created_at">
                    <div>
                        <%= @topic.created_at.to_s(:datetime_jp) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="topics-show-posts">
            <% @posts.each do |post| %>
                <div class="topics-show-post">
                    <div class="topics-show-post-title">
                        <i class="fa-solid fa-comment"></i><%= post.title %>
                    </div>
                    <div class="topics-show-post-content">
                        <%= post.content %>
                    </div>
                    <div class = "topics-show-post-information">
                        <div class="topics-show-post-username">
                            <%= post.username %>
                        </div>
                        <div class="topics-show-post-created_at">
                            <%= post.created_at.to_s(:datetime_jp) %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>