<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
  <header>
    <div class="header-logo">
      <%= link_to("Ifnot", "/") %>
    </div>
    <div class="header-menus">
      <div class="about header-menu">
        <%= link_to("Ifnotã¨ã¯", "/about") %>
      </div>
      <div class="categoryList header-menu">
        <%= link_to("ã‚«ãƒ†ã‚´ãƒªä¸€è¦§", "/categories/index") %>
      </div>
      <div class="topicList header-menu">
        <%= link_to("è­°é¡Œä¸€è¦§", "/topics/index") %>
      </div>
    </div>
  </header>
  <%= yield %>
  <footer>
    <div class="footer-copyright">
      <p>Â© All rights reserved by AmiHosaka.ðŸ‘¶</p>
    </div>
  </footer>
  </body>
</html>
