<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <div class="header-logo">
        <%= link_to("Ifnot", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Ifnotとは", "/about") %>
        </li>
        <li>
          <%= link_to("カテゴリ一覧", "/categories/index") %>
        </li>
        <li>
          <%= link_to("議題一覧", "/topics/index") %>
        </li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <p>© All rights reserved by AmiHosaka.</p>
    </footer>
  </body>
</html>
