<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <div class="header-logo">
        <%= link_to("Ifnot", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Ifnotã¨ã¯", "/about") %>
        </li>
        <li>
          <%= link_to("ã‚«ãƒ†ã‚´ãƒªä¸€è¦§", "/categories/index") %>
        </li>
        <li>
          <%= link_to("è­°é¡Œä¸€è¦§", "/topics/index") %>
        </li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-copyright">
        <p>Â© All rights reserved by AmiHosaka.ðŸ‘¶</p>
      </div>
    </footer>
  </body>
</html>
